.step1{
    font-family: 'sans-serif';
    font-size: x-large;
    background-color: aqua;
    color: blue;
    text-decoration: none;
    margin-right: 1200px;
}

.step2{
    background-color: orange;
    color: white;
    padding:5px;
}

.step3{
    padding:5px;
    text-decoration: none;
}


